* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsla(186, 15%, 59%, 1);
  margin-top: 2%;
}

main {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding: 30px;
}

fieldset {
    border: none;
}

form {
    display: flex;
    flex-direction: column;
}

section {
    display: grid;
    grid-template-columns: 50% 50%;
}


